* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    background-color: #333;  
    gap: 50px;              
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 320px;        
    width: 300px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #fff;           
}

.details input {
    display: block;
    margin: 20px auto;   
    width: 200px;
    height: 35px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 20px;
    border: none;
    outline: none;
}

.details button {
    display: block;
    margin: 20px auto;   
    width: 150px;
    height: 35px;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 20px;
    outline: none;
    color: black;
    background-color: #819dcb;
    border: 1px solid #819dcb;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
}

.card {
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}

.card .img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;    
    object-fit: cover;
    overflow: hidden;

}

   

.content {
    text-align: center;
    margin-top: 10px;
}

.content h2 {
    color: #333;           
    margin: 5px 0;
}

.content h3 {
    color: #666;
    font-family: sans-serif;
    font-weight: normal;
}